<div class="painel237-wpr">
  <div class="bl-now col-sm-12">
    <div class="row">
      <div class="col-lg-8 bl-senha">
        <h3 class="title-senha">SENHA</h3>
        <div class="box-senha">
          <p class="text-senha" [@flash]="flash">{{ painelVarejo.dadosSenha.senha }}</p>
        </div>
      </div>
      <div class="col-lg-4 bl-local">
        <h3 class="title-caixa">{{ painelVarejo.dadosSenha.tipoCaixa }}</h3>
        <div class="box-guiche">
          <p class="text-guiche" [@flash]="flash">{{ painelVarejo.dadosSenha.caixa }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
