.print-default-message {
    height: 1150px;
    width: 100%;
    margin: 0 0 0 -13px;
}
.print-msg-wpr.h-100.row.align-items-center {
  text-align: center;
  margin-right: 0px;
}
.print-msg-wpr p {
  color: #ffffff;
  font-family: gilroyB;
  width: 100%;
  font-size: 30pt;
  line-height: 32pt;
}
p.error-msg {
  margin: 70px 0 0;
}
i.fa.fa-print.fa-4x, i.fa.fa-warning.fa-4x {
  font-size: 5em;
  margin: 50px 0 0;
}
.msg-senha {
  margin-top: 200px;
}
p.senha {
  font-size: 130pt!important;
  line-height: 180pt!important;
  margin: 120px 0;
}
@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .h-100 {
    height: 60%!important;
  }
  p.error-msg {
    margin: 0;
  }
  .msg-senha {
    margin-top: 0;
    width: 100%;
  }
  p.senha {
    margin: 20px 0;
  }
}
